.glow-text
  transition: 0.03s ease-in-out



@font-face 
  font-family: 'RodItalic'
  src: url('/src/assets/Fonts/Rod-italic.otf') format('opentype')
  font-weight: normal
  font-style: italic

@font-face
  font-family: 'Roddenberry'
  src: url('/src/assets/Fonts/Roddenberry.otf') format('opentype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Quicksand'
  src: url('/src/assets/Fonts/Quicksand-VariableFont_wght.ttf') format('truetype')
  font-weight: normal
  font-style: normal


.gradient-text
  background: linear-gradient(45deg, #8f00ff, #6dffdc)
  -webkit-background-clip: text
  background-clip: text
  -webkit-text-fill-color: transparent
  text-fill-color: transparent
  color: transparent

